body {
    padding: 10px;
}
.bookings-header {
    font-size: 16px;
    font-weight: 600;
    color: #4A85E8;
    margin-bottom: 20px;

    .bookings-header-actions {
        float: right;

        i.fa {
            cursor: pointer;
        }

        i.fa.fa-search {
            margin-right: 20px;
        }
    }
}

.bookings-list {
    padding-top: 10px;

    .bookings-list-day-header {
        padding-top: 10px;
        border-bottom: 1px solid black;
        padding-bottom: 10px;
        text-transform: uppercase;;
    }

    .bookings-list-day-item {

        // div.item-date-time {
        //     display: inline-block;
        //     float: left;
        // }
        //
        // div.item-event-room {
        //     display: inline-block;
        //     float: right;
        // }
    }
}
